@using Sitecore.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Demo VR</title>
    <script src="https://aframe.io/releases/0.9.1/aframe.min.js"></script>
    <script>
        AFRAME.registerComponent('sitecore-demo', {
            init:function(){
                console.log('Sitecore demo running');
            }
        });
    </script>
</head>
<body>
    <div>
        @Html.Sitecore().Placeholder("main")
    </div>
</body>
</html>
